html {
    height: 100vh;
}


#col-form{
    height: 100vh;
    max-height: 100vh; 
    min-height: 100vh;
}

.img-logo {
    width: 250px;
    height: 250px;
}

.wrapper{
    
    min-height: 100vh !important;
    height: 100vh !important;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment:fixed;
}

.btn-login{
    background-color: #043f69;
    color: #FFF;
}

.btn :hover{
    background-color: #a8eb12;
}

#link-powered{
    text-decoration: none;
}