.btn-cria-organizacao{
    border-radius: 10px;
    background-color: #004d7a;
    border-color: #004d7a;
}

.btn-cria-organizacao:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: #00bf72;
    border-color: #00bf72;
}

.card-organizacao:hover{
    border-color: #004d7a;
    cursor: pointer;
}

.input-field:focus,
.input-field:active {
    border-color: #004d7a !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #004d7a !important;
    outline: 0 none !important;
}