html {
    height: 100%;
}

body{
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.bg-panel{
    min-height: 100vh;
}

.nav-bar-color{
    background-image: linear-gradient(to right top, #051937, #004d7a);
}